<div class="beta">
    <% if (viewModel.displayRules.beta[0]) { %>
        <%- include('beta/primo') %>
    <% } %>

    <%- include('beta/secundo') %>

    <% if (viewModel.displayRules.beta[1]) { %>
        <%- include('beta/tertio') %>
    <% } %>
</div>