<div class="c12">
    <% if (viewModel.displayRules.c2[0]) { %>
        <%- include('c2/c21') %>
    <% } %>

    <%- include('c2/c22') %>

    <% if (viewModel.displayRules.c2[1]) { %>
        <%- include('c2/c23') %>
    <% } %>
</div>