*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
}
body > .c11{
    width:5rem;
}
body > .c11,
body > .c13{
    background-color: lightblue;
    padding: .4rem;
}
body > .c13{
    width:15rem;
}
body > .c12 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}
body > .c12 > .c21,
body > .c12 > .c23{
    background-color: lightsalmon;
    padding: .5rem;
}

body > .c12 > .c22{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

body > .c12 > .c22 > .c31,
body > .c12 > .c22 > .c33{
    background-color: lightpink;
    padding: .5rem;

}
body > .c12 > .c22 > .c31{
    width:15rem;
}
body > .c12 > .c22 > .c33{
    width:15rem;
}

body > .c12 > .c22 > .c32{
    flex-grow: 1;
    padding: .5rem;
}
