*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
}
body > .first{
    width:5rem;
}
body > .first,
body > .third{
    background-color: lightblue;
    padding: .4rem;
}
body > .third{
    width:15rem;
}
body > .second {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}
body > .second > .alpha,
body > .second > .gamma{
    background-color: lightsalmon;
    padding: .5rem;
}

body > .second > .beta{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

body > .second > .beta > .primo,
body > .second > .beta > .tertio{
    background-color: lightpink;
    padding: .5rem;

}
body > .second > .beta > .primo{
    width:15rem;
}
body > .second > .beta > .tertio{
    width:15rem;
}

body > .second > .beta > .secundo{
    flex-grow: 1;
    padding: .5rem;
}
