<div class="second">
    <% if (viewModel.displayRules.second[0]) { %>
        <%- include('second/alpha') %>
    <% } %>

    <%- include('second/beta') %>

    <% if (viewModel.displayRules.second[1]) { %>
        <%- include('second/gamma') %>
    <% } %>
</div>