<div class="c22">
    <% if (viewModel.displayRules.c3[0]) { %>
        <%- include('c3/c31') %>
    <% } %>

    <%- include('c3/c32') %>

    <% if (viewModel.displayRules.c3[1]) { %>
        <%- include('c3/c33') %>
    <% } %>
</div>